<!DOCTYPE html>
<html>
<head>
    <title>Deals - GearX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    <h1>🔥 Hot Deals</h1>
</div>

<div class="container">

    {% for p in products %}

    <div class="card">

        <span class="tag">HOT DEAL</span>

        <h3>{{ p[1] }}</h3>

        <p class="price">₹{{ p[2] }}</p>

        <div class="buttons">

            <a href="/add_to_cart/{{ p[0] }}" class="cart-btn">
                Add To Cart
            </a>

            <a href="/buy/{{ p[0] }}" class="buy-btn">
                Buy Now
            </a>

        </div>

    </div>

    {% endfor %}

</div>

</body>
</html>

