<!DOCTYPE html>
<html>
<head>
    <title>Deals - GearX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    <h1>🔥 Hot Deals</h1>
</div>

<div class="container">

    <!-- iPhone -->
    <div class="card">

        <span class="tag">HOT</span>

        <h3>iPhone</h3>

        <p class="price">₹79,999 → ₹71,999</p>

        <div class="buttons">

            <a href="/add_to_cart/1" class="cart-btn">
                Add To Cart
            </a>

            <a href="/buy/1" class="buy-btn">
                Buy Now
            </a>

        </div>

    </div>


    <!-- Samsung -->
    <div class="card">

        <span class="tag">SALE</span>

        <h3>Samsung</h3>

        <p class="price">₹69,999 → ₹59,999</p>

        <div class="buttons">

            <a href="/add_to_cart/2" class="cart-btn">
                Add To Cart
            </a>

            <a href="/buy/2" class="buy-btn">
                Buy Now
            </a>

        </div>

    </div>


    <!-- Smart Watch -->
    <div class="card">

        <span class="tag">COMBO</span>

        <h3>Smart Watch</h3>

        <p class="price">₹4,999 → ₹3,999</p>

        <div class="buttons">

            <a href="/add_to_cart/4" class="cart-btn">
                Add To Cart
            </a>

            <a href="/buy/4" class="buy-btn">
                Buy Now
            </a>

        </div>

    </div>

</div>

</body>
</html>
